body{
	font-family: 	 Helvetica ;
	font-size: 23px ;
	width: 1000px ;
	margin: 0px auto;
}
ul {
	list-style-type: none;
	position: relative;
	margin: 0;
	padding: 0;
  }
  li {
	display: inline;
  }
  li {
	float: left;
  }
  a {
	display: block;
	padding: 8px;
	background-color:#081f2c;
  }
  ul {
	background-color:#081f2c;
  }
  ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#081f2c;
  }
  li {
	float: left;
  }
  li a {
	display: block;
	color:white ;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  li a:hover {
	transition: border-bottom-color .15s ease-in-out;
	transition-property: border-bottom-color;
  }
  li a:after {
	content: "";
	padding-left: inherit;
	border-right: 1px solid rgb(41, 226, 230); 
	border-bottom-color:  rgb(41, 226, 230);
	width: 15px;
  }
  ul li:last-child a:after{
      border-right: 0px;
  }
  .navbar{
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	display: flex;
    align-items: center;
  }
  .active {
	display: block;
	font-family:  Helvetica;
	font-size: 20px;
	position : absolute;
	right: 0;
	top: 31px;
	color: white;
	margin-right: .9375rem;
  }
  .logo{
	  width: 100px;
	  height: 100px;
  }
  .logo img {
	  height: 100%;
	  width: 100%;
	}
	
  