body {
  font-family: "Titillium Web", sans-serif;
  font-size: 23px;
  width: 1000px;
  margin: 0px auto;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ************************************************************* */
/* ************************************************************* */
/* Navbar */
/* ************************************************************* */
/* ************************************************************* */

#navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #081f2c;
  overflow: hidden;
  width: 100%;
  height: 100px;
}
#navbar div {
  display: flex;
  align-items: center;
  margin-left: 3px;
  height: 90%;
  border-bottom: 7px solid transparent;
}
#navbar div:first-child {
  margin-right: 10px;
}
#navbar div:first-child:after {
  content: "";
}
#navbar div a {
  color: white;
  text-decoration: none;
}
#navbar div:hover {
  border-bottom: 7px solid#00a9ce;
}
#navbar div:hover a {
  color:#DCDCDC;
}
#navbar div:last-child:hover,
#navbar div:first-child:hover {
  border-bottom: 7px solid transparent;
}
#navbar div:after {
  content: "|";
  margin-left: 5px;
  margin-right: 5px;
  color: #00BFFF;
}
#navbar div:last-child {
  margin-left: auto;
}
#navbar div:last-child:after {
  margin-left: 5px;
  content: "";
}
.logo {
  width: 100px;
  height: 100%;
}
.logo img {
  position: absolute ;
  width: 100px;
  top:0px;
  left: 0px;
}
.abc{
  font-size: 20px;
  font-weight: lighter;
}
#bigfb{
  background-color: #081f2c;
  width: 100%;
  height: 40px;
  text-align: left;
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 5px;  

}
.football{
  color: white;
  font-weight: bold;
  padding-top: 5px;
  font-size: 26px;
}
#lastAndToday{
  display: flex;
  flex-direction: row;
}
.box{
  display: block;
  border: 1px solid black;
  flex: 2 2 auto; 
  text-align: center;
 font-weight: lighter;
}
#matches{
  margin-left:70px;
}
.resetFormat{
  text-decoration: none;
}
.txt-black{
  color: black;
}
.lastnews{
  font-weight: 600;
  position:relative;
  overflow: hidden;
  clear: both;
  text-align: center;
  text-transform: uppercase;
  color: #081f2c;
  padding:0 ;
  line-height: 1;
}
.lastnews::before{
  content: "";
  position: absolute;
  height:2px;
  top:40%;
  background-color: #a2aaad;
  margin-top: -.0625rem;
  left: 0;
  right:0;
}
.lastnews span{
  background-color:white;
  font-family: "Titillium Web", sans-serif;
  font-weight: lighter;
  font-size: 30px;
  display:inline-block;
  position: relative;
  padding:0 10px  10px;
  max-width: 95%;
  overflow:hidden;
}
#more{
  background-color: #00a9ce;
  width: 33%;
  height: 40px;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  padding-top: 8px;
  padding-bottom: 1px;
  margin: 0 320px 0 320px;  
}
.mores{
  font-family:  "Titillium Web", sans-serif;
  color:white;
  font-size: 23px;
  font-weight: lighter;
  text-decoration: none;
}
.media-group:not(.hidden){
  margin-top: 1rem;
}
.media-group{
  background-color: #081f2c;
  padding-top: 25px;
  color: #fff;
}
section{
  display: block;
  height:200px;
}
.clearfix:before{
  clear:both;
  content: "";
  display: table;
}
.media-group>h2{
  margin:10px 0 1px ;
  color: #fff;
}
.media-group>h2 span{
  background-color: #081f2c;
}
.media-headlines{
  font-size: 30px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  clear: both;
  text-align: center;
  color: #081f2c;
  padding: 0;
  line-height: 1;
}
.media-headlines span{
  background-color: #e3e5e6;
  display: inline-block;
  position: relative;
  padding:0 10px 10px 10px;
  max-width: 95%;
  overflow: hidden;
}
h2{
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: lighter;
}
.media-headlines:before{
  content: "";
  position: absolute;
  height: 2px;
  top: 15px;
  background-color: #a2aaad;
  margin-top: 0;
  left: 10px;
  right: 10px;
}
 .media-group .morevideo{
  display: block;
  background-color: #00a9ce;
  text-align: center;
  color:#fff;
  font-weight: 400;
  height: 40px;
  margin-bottom: 40px;
  line-height: 40px;
  text-decoration: none;
  padding:0 10px 0 10px;
  cursor: pointer;
  width: fit-content;
} 
.bottom{
position: absolute;
bottom: 35px;
left: 44%;
}
.footers{
  background-color: #ff0000;
  margin-top: 2px; 
  color:#fff;
  display: block;
  border-top:1px solid #ff0000;
  padding:  0 ;
}
#navbar:before,#footer:before{
  content:"";
  display: table;
}
#navbar:after,#footer:after{
  content:"";
  display: table;
  clear:both;
  box-sizing: border-box;
}
.footers>.inner{
  margin-left: auto;
  margin-right: auto;
  max-width:1258px;
}
#footer.inner{
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.footers.inner{
  position: relative;
  padding:0;
}
div{
  display: block;
}
.footers.footerlogo{
  margin-bottom: 20px;
  margin-left:-10px;
  margin-top: 0px;
  box-sizing: border-box;
}
.footerimage{
  width:150px;
  height: 150px;
}
/**a.link,a:visited{
  color: #e10a0a;
  text-decoration: none;
}**/
.footers a {
  transition: all 0.3s ease-out;
}
.footers.footermenu{
  width:30%;
  float: left;
  clear:none;
  margin-bottom: 25px;
  margin-top: 40px;
}
.footermenu{
  margin-bottom: 1.625rem;
  clear: both;
}
.footers.footermenu.titleblock{
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
h2{
  display: block;
  font-family: "Josefin Sans",sans-serif;
  font-size: 20px;
  font-weight: normal;
  
}
#footermenu ul{
  padding:0;
  margin:0;
}
ul{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  list-style: none;
  margin:1.625em 0;
 }
 #footermenu ul li{
   margin-bottom: 30px;
   padding-bottom: 0;
   list-style: none;
 }
 #footermenu a {
   font-family: "Montserrat",sans-serif;
   font-size: 20px;
   line-height: 5px;
   text-decoration: none;
   padding: 10px 0 ;
   color:#fff;
 }
 ul li {
   font-size: 20px;
   line-height: 5px;
 }
/** li{
   display: list-item;
 }**/
 .menu{
   margin-top: 20px;
 }
 .socialmedia{
   position: relative;
   top:2px;
   left:100%;
   transform: translate(-53%,-50%)
 }
 .socialmedia li{
   list-style: none;
   display: inline-block;
   margin:20px 10px;
   font-size: 25px;
   padding: 0px;
   color: white;
   transition: .5s;
 }
 .fab{
   margin-top: 10px;
 }
 .socialmedia a{
   color:white;
 }
 li:hover{
   transition: .3s;
 }
 #social div:hover a{
   color:#d1d1d1;
 }
 /*.socialmedia ul li a.fab{
   position: relative;
   color: #262626;
   transition: .5s;
   border-radius: 50%;
   overflow: hidden;
   line-height: 50px;
   font-size: 25px;
   border: 3px solid #fff;
   width: 50px;
   height: 50px;
   text-align: center;
   margin: 5px 10px;
   display: block;
   list-style: none;
 }
 /*a:link, a:visited{
   color: #ff0000;
 }
 a:link{
   text-decoration: none;
 }
  [class*="icon-"]{
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
 }
 .icon-fb:before{
   content:"\e00d";
   box-sizing: border-box;
 }
 [data-social]:before{
  font-family: "social-icons" !important;
  font-weight: normal !important;
  font-style: normal !important;
  content: attr(data-icon);
  speak: none;
  line-height: 1;
  vertical-align: middle;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
 }
 .fb{
   position: relative;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
 }