body {
  font-family: Helvetica;
  font-size: 23px;
  width: 1000px;
  margin: 0px auto;
}

/* ************************************************************* */
/* ************************************************************* */
/* Navbar */
/* ************************************************************* */
/* ************************************************************* */

#navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #081f2c;
  overflow: hidden;
  width: 100%;
  height: 100px;
}
#navbar div {
  display: flex;
  align-items: center;
  margin-left: 3px;
  height: 90%;
  border-bottom: 7px solid transparent;
}
#navbar div:first-child {
  margin-right: 10px;
}
#navbar div:first-child:after {
  content: "";
}
#navbar div a {
  color: white;
  text-decoration: none;
}
#navbar div:hover {
  border-bottom: 7px solid#ADD8E6;
}
#navbar div:hover a {
  color:gray;
}
#navbar div:last-child:hover,
#navbar div:first-child:hover {
  border-bottom: 7px solid transparent;
}
#navbar div:after {
  content: "|";
  margin-left: 5px;
  color: #ADD8E6;
}
#navbar div:last-child {
  margin-left: auto;
}
#navbar div:last-child:after {
  margin-left: 5px;
  content: "";
}
.logo {
  width: 100px;
  height: 100%;
}
.logo img {
  position: absolute ;
  width: 100px;
  top:0px;
  left: 0px;
}
.abc{
  font-size: 20px;
  font-weight: lighter;
  font-family:  'Lucida Grande';
}
#bigfb{
  background-color: #081f2c;
  width: 100%;
  height: 40px;
  text-align: left;
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 5px;  

}
.football{
  color: white;
  font-weight: bold;
  padding-top: 5px;
  font-size: 26px;
}
#lastAndToday{
  display: flex;
  flex-direction: row;
}
.box{
  display: block;
  border: 1px solid black;
  padding: 3px 110px 3px 110px ;
  font-weight: lighter;
}
#matches{
  margin-left:auto;
}
.resetFormat{
  text-decoration: none;
}
.txt-black{
  color: black;
}
.lastnews{
  font-weight: 600;
  position:relative;
  overflow: hidden;
  clear: both;
  text-align: center;
  text-transform: uppercase;
  color: #081f2c;
  padding:0;
  line-height: 1;
}
.lastnews::before{
  content: "";
  position: absolute;
  height:3px;
  top:50%;
  background-color: #a2aaad;
  margin-top: -.0625rem;
  left: 0;
  right:0;
}
.lastnews span{
  background-color:white;
  display:inline-block;
  position: relative;
  padding:0 1.25rem;
  max-width: 95%;
  overflow:hidden;
}

