html {
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 30px;
	background-color: #e3e5e6;
	margin-top: 0px;
	margin-bottom: 0px;
}

h1, h2, h3, h4, h5, p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
}
/*Main*/
.back {
	background: #f1f1f1;
	transform: perspective(200px) rotateY(180deg);
}

.back-content {
	color: #2c3e50;
	text-align: center;
	width: 100%;
}

.front {
	transform: perspective(200px) rotateY(0deg);
/*	display: grid;
	grid-template-columns: 30% 50% 10%;
	grid-template-rows: 45% 45%; */
}

.back {
	width: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;
	transition: transform 0.6 linear;
}

.playerCard:hover>.back {
	transform: perspective(600px) rotateY(0deg);
}

.playerCard:hover>.front {
	transform: perspective(600px) rotateY(180deg);
}

.sm a {
	display: inline-flex;
	width: 40px;
	height: 40px;
	justify-content: center;
	align-items: center;
	color: #2c3e50;
	transition: 0.4s;
	border-radius: 50%;
}

.sm a:hover {
	background: red;
	color: white;
}

.manimg {
	width: 17%;
}

.column::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

.column::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

.column::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #b2edce;
}
/* ************************************************** */
/* ************************************************** */
/* general Information */
/* ************************************************** */
/* ************************************************** */
#generalInformation {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 100%;
	background-color: white;
}

.TeamLogo {
	grid-column: 1;
	width: 50px;
	height: 50px;
}

.TeamLogo>img {
	width: 100%;
	height: 100%;
}

.TeamInfoText {
	grid-column: 2;
}

/* ************************************************** */
/* ************************************************** */
/* roster */
/* ************************************************** */
/* ************************************************** */
.roster {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-column-gap: 10px;
	text-align: center;
	align-items: center;
	margin-top: 20px;
}

.goalkeeper {
	grid-column: 1;
}

.defender {
	grid-column: 2;
}

.midfielder {
	grid-column: 3;
}

.attacker {
	grid-column: 4;
}

.columnHeader {
	background-color: #081f2c;
}

.column {
	position: relative;
	background-color: white;
	overflow: scroll;
	overflow-x: hidden;
	max-height: 70vh;
	width: 100%;
}

/* ************************************************** */
/* ************************************************** */
/* player card */
/* ************************************************** */
/* ************************************************** */
.playerCard {
	height: 10vh;
	width: 100%;
}

.front>.playerName {
	grid-column: 2;
	grid-row: 1
}

.front>.playerAge {
	grid-column: 2;
	grid-row: 2
}

.front>.playerShirtNumber {
	grid-column: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.front>.playerLogo {
	grid-column: 1;
	grid-row-start: 1;
	grid-row-end: 2;
	width: 20px;
	height: 20px;
}

.column1 {
	position: relative;
	background-color: white;
	width: auto;
	margin-top: 0px;
}